<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://dithersky.wordpress.com/my-modifications" version="1.0.8">
  <name>MultiConvertor</name>
  <author href="https://dithersky.wordpress.com">Dither</author>
  <description>Do most common web programmer's conversions with ease.</description>
  <icon src="icons/icon.png"/>
  <!--<credit>icon.png from Iconfinder - non-comercial free license.</credit> -->
  <license href="http://www.apache.org/licenses/LICENSE-2.0">Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.</license>
</widget>
