<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://my.opera.com/DitherSky/blog/my-modifications-of-extensions" version="1.0b">
  <name>MultiConvertor</name>
  <author href="http://my.opera.com/DitherSky/blog/">DitherSky</author>
  <icon src="icons/icon.gif"/>
  <!--<credit>icon.png by Iconfinder - non-comercial free license.</credit> -->
</widget>
